.testItAll{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: .1s ease-in-out 0s 1 light-bounce-in;
  display: flex;
  left: 0;
  margin: 5px;
  max-height: 10rem;
  max-width: 30rem;
    position: center;
  right: 0;
  z-index: 10000;
  font-family: 'Oi', cursive; 
color: rgb(255, 255, 255);
margin-bottom: 0;
-webkit-text-stroke: .97px rgb(0, 0, 0);
background: rgba(10, 9, 9, 0.356);
  }
  .alert-head{
    align-items: center;
    justify-items: center;
  }

.close {
  &:active,
  &:focus {
    outline: none;
  }
}

@keyframes light-bounce-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(9999%);
  }
}
